<!-- login.html.j2 -->
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <p>Account: {{ ac }}</p>
    <p>Password: {{ pw }}</p>
    <p>Message: {{ ms }}</p>
</body>
</html>