<html>
<head>
    <title>translate</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>{{ translator }}, {{ translations_list }}, {{ translator_default }}, {{ translator_select }}, {{ translator_id }}, {{ text }}, {{ language_from }}, {{ language_to }}, {{ translate_out }}</p>
    <form id="translationForm">
        <label for="translation_text_in">Enter text:</label>
        <textarea id="translation_text_in" name="translation_text_in" rows="4" cols="50" maxlength="250" oninput="countCharacters()"></textarea>
        <br/>
        <span id="char-count">0/250</span>
        <br/>

        <label for="translator">Translator: {{ translator_select_in }}</label>
        {% for translator in translator %}
            <button type="button" id="{{ translator.translator }}" name="translatorButton" value="{{ translator.translator }}" onclick="translateText('{{ translator.translator }}')">{{ translator.translator }}</button>
        {% endfor %}
        <br/>

        <label for="lang-from">Translate From:</label>
        <select id="lang-from" name="lang-from">
            <option value="auto">Autodetect</option>
            {% for translation in translations_list %}
                <option value="{{ translation.languageCode }}">{{ translation.languageCode }}</option>
            {% endfor %}
        </select>
        <br/>

        <label for="lang-to">Translate to:</label>
        <select id="lang-to" name="lang-to">
            {% for translation in translations_list %}
                <option value="{{ translation.languageCode }}">{{ translation.languageCode }}</option>
            {% endfor %}
        </select>
        <br/>
    </form>
    <h2>Translation:</h2>
    <p id="translation_text_out"></p>

<script>
    const translationForm = document.getElementById('translationForm');
    const textArea = document.getElementById('translation_text_in');
    const translationParagraph = document.getElementById('translation_text_out');
    const langFromSelect = document.getElementById('lang-from');
    const langToSelect = document.getElementById('lang-to');
    const charCountSpan = document.getElementById('char-count');

    function translateText(translator) {
        const text = textArea.value;
        const langFrom = langFromSelect.value;
        const langTo = langToSelect.value;
        const translatorSelect = translator

        const formData = new FormData();
        formData.append('text', text);
        formData.append('langFrom', langFrom);
        formData.append('langTo', langTo);
        formData.append('translatorSelect', translatorSelect);

        fetch('/translate', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            translationParagraph.textContent = data.translate_out;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function countCharacters() {
        const text = textArea.value;
        const currentCount = text.length;
        charCountSpan.textContent = `${currentCount}/250`;
    }

    translationForm.addEventListener('submit', function (event) {
        event.preventDefault();
    });

    textArea.addEventListener('input', translateText);
    langFromSelect.addEventListener('change', translateText);
    langToSelect.addEventListener('change', translateText);
</script>

</body>
</html>