<html>
<head>
    <title>translate</title>
</head>
<body>
    <h1>Welcome</h1>
    <form id="translationForm">
        <label for="translation_text_in">Enter text:</label>
        <textarea id="translation_text_in" name="translation_text_in" rows="4" cols="50" maxlength="250" oninput="countCharacters()"></textarea>
        <br/>
        <span id="char-count">0/250</span>
        <br/>
        <label for="translator">Translator: {{ translator_select_in }}</label>
        {% set default_translator = translator[0].translator %}
        {% for translator in translator %}
            <input type="radio" id="{{ translator.translator }}" name="translator" value="{{ translator.translator }}" {% if translator.translator == default_translator %}checked{% endif %}>
            <label for="{{ translator.translator }}">   {{ translator.translator }}   </label>
        {% endfor %}
        <br/>

        <label for="lang-from">Translate From:</label>
        <select id="lang-from" name="lang-from">
        </select>
        <br/>

        <label for="lang-to">Translate to:</label>
        <select id="lang-to" name="lang-to">
        </select>
        <br/>
    </form>
    <h2>Translation:</h2>
    <p id="translation_text_out"></p>

<script>
    const textArea = document.getElementById('translation_text_in');
    const translationParagraph = document.getElementById('translation_text_out');
    const langFromSelect = document.getElementById('lang-from');
    const langToSelect = document.getElementById('lang-to');
    const charCountSpan = document.getElementById('char-count');
    const translatorRadios = document.querySelectorAll('input[name="translator"]');

    function translateText(translator) {
        const text = textArea.value;
        const langFrom = langFromSelect.value;
        const langTo = langToSelect.value;
        let translatorSelect = '';

        translatorRadios.forEach(radio => {
            if (radio.checked) {
                translatorSelect = radio.value;
            }
        });

        const formData = new FormData();
        formData.append('text', text);
        formData.append('langFrom', langFrom);
        formData.append('langTo', langTo);
        formData.append('translatorSelect', translatorSelect);

        fetch('/translate', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            translationParagraph.textContent = data.translate_out;

            const langFromSelect = document.getElementById('lang-from');
            const langToSelect = document.getElementById('lang-to');

            // 清空之前的选项
            translatorRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                    langFromSelect.innerHTML = '';
                    langToSelect.innerHTML = '';
                });
            });

            // 添加新选项
            const optionAuto = document.createElement('option');
            optionAuto.value = 'auto';
            optionAuto.textContent = 'Autodetect';
            langFromSelect.appendChild(optionAuto);

            const i = data.language_list.length;

            for (let j = 0; j < i; j++) {
                const translation = data.translation_list[j];
                const language = data.language_list[j];

                const optionFrom = document.createElement('option');
                optionFrom.value = translation.languageCode;
                optionFrom.textContent = language.language;
                langFromSelect.appendChild(optionFrom);

                const optionTo = document.createElement('option');
                optionTo.value = translation.languageCode;
                optionTo.textContent = language.language;
                langToSelect.appendChild(optionTo);
            }

        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
    function countCharacters() {
        const text = textArea.value;
        const currentCount = text.length;
        charCountSpan.textContent = `${currentCount}/250`;
    }

    let timeoutId = null;

    textArea.addEventListener('input', function() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(translateText, 750); // 在750毫秒內沒有輸入時執行translateText函數
    });

    langFromSelect.addEventListener('change', translateText);
    langToSelect.addEventListener('change', translateText);
    translatorRadios.forEach(radio => {
        radio.addEventListener('change', translateText);
    });
    window.onload = function() {
        translateText();
    };
</script>

</body>
</html>