<html>
<head>
    <title>translate</title>
</head>
<body>
    <h1>Welcome</h1>
    <form id="translationForm">
        <label for="text">Enter text:</label>
        <textarea id="text" name="text" rows="4" cols="50" maxlength="250" oninput="countCharacters()"></textarea>
        <br/>
        <span id="char-count">0/250</span>
        <br/>
        <label for="translator">Translator:  {{ translator_select }}</label>
        <br/>
        {% for translator in translator %}
            <button id="translatorButton_{{ translator.id }}" value="{{ translator.translator }}" onclick="translateText('{{ translator.translator }}')">{{ translator.translator }}</button>
        {% endfor %}
        <br/>

        <label for="lang-from">Translate From:</label>
        <select id="lang-from" name="lang-from">
            <option value="auto">Autodetect</option>
            {% for translation in translations_list %}
                <option value="{{ translation.languageCode }}">{{ translation.languageCode }}</option>
            {% endfor %}
        </select>
        <br/>

        <label for="lang-to">Translate to:</label>
        <select id="lang-to" name="lang-to">
            {% for translation in translations_list %}
                <option value="{{ translation.languageCode }}">{{ translation.languageCode }}</option>
            {% endfor %}
        </select>
        <br/>
    </form>
    <h2>Translation:</h2>
    <p id="translation"></p>

<script>
    const textArea = document.getElementById('text');
    const translationParagraph = document.getElementById('translation');
    const langFromSelect = document.getElementById('lang-from');
    const langToSelect = document.getElementById('lang-to');
    const charCountSpan = document.getElementById('char-count');
    const translationForm = document.getElementById('translationForm');

    function translateText(translator) {
        const text = textArea.value;
        const langFrom = langFromSelect.value;
        const langTo = langToSelect.value;

        const formData = new FormData();
        formData.append('text', text);
        formData.append('langFrom', langFrom);
        formData.append('langTo', langTo);
        formData.append('translator', translator);

        fetch('/translate', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            translationParagraph.textContent = data.translation;
            setTimeout(() => {
                location.reload();
            }, 1000);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function countCharacters() {
        const text = textArea.value;
        const currentCount = text.length;
        charCountSpan.textContent = `${currentCount}/250`;
    }

    translationForm.addEventListener('submit', function (event) {
        event.preventDefault();
    });

    textArea.addEventListener('input', translateText);
    langFromSelect.addEventListener('change', translateText);
    langToSelect.addEventListener('change', translateText);
</script>

</body>
</html>